{
  "root": true,
  "extends": ["triple/typescript", "plugin:astro/recommended"],
  "env": { "browser": true, "node": true },
  "parserOptions": { "project": "./tsconfig.eslint.json" },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    }
  ]
}
