@use "./utils.scss" as *;
@use "./colors.scss" as *;

:root {
  font-size: 62.5%;

  --font-heading: "Righteous", system-ui;
  --font-body: "Poppins", system-ui;

  --font-weight-bold: 700;
  --font-weight-normal: 400;

  --font-size-xs: 1.2rem;
  --font-size-s: 1.4rem;
  --font-size: 1.6rem;
  --font-size-m: 1.8rem;
  --font-size-l: 2.4rem;
  --font-size-xl: 3.2rem;
  --font-size-x2l: 4rem;
  --font-size-x3l: 4.8rem;
  --font-size-x4l: 6.4rem;
  --font-size-x5l: 8rem;
  --font-size-x6l: 9.6rem;
  --font-size-x7l: 12rem;

  --content-page-width: 70rem;
  --content-page-width-extra-large: 140rem;
  --content-page-gap: 9.2rem;
  --content-page-gap-mobile: 4.6rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p,
a,
li {
  font-size: 1.6rem;
  line-height: 175%;
}

a {
  color: var(--foreground);
  // text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--foreground-accent);
  }
}
