---
interface Props {
  href: string;
  label: string;
  active?: boolean;
}

const { href, label, active = false } = Astro.props;
---

<a href={href} class:list={[{ active }]}>{label}</a>

<style lang="scss">
  a {
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    border-radius: 5rem;
    transition: background 0.3s;
    font-size: var(--font-size-s);

    @media (max-width: 600px) {
      padding: 1rem 1.6rem;
      font-size: var(--font-size-xs);
    }

    &:hover {
      color: var(--foreground);
      background: var(--background-active);
    }

    &.active {
      background: var(--background-active);
    }
  }
</style>

